.mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
.profile-wrapper {
  max-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mat-dialog-title {
  margin: 0;
  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}
.mat-dialog-content {
  padding: 15px;
  position: relative;
  margin: 0;
}
.mat-dialog-actions {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  margin: 0;
  padding:16px;
  &:last-child {
    margin-bottom: auto;
  }
}

