<app-page-wrapper icon="money_off" title="Cost" (onSettings)="openDialog()">

  <app-card-sidebar [open]="open" (backDrop)="(open = !open)" [sidenav]="sidenav">
    <!--<app-card-loader mode="determinate" [value]="100" color="primary">-->
      <app-card-content>

        <app-card>
          <app-card-content>

            <div>
              <app-card-icon
                icon="money_off"
                message="Costs: {{ totalCost | async }} BGN"
                [value]="totalCost | async"
                class="content primary"
                fxFlex="100"
                fxFlex.lt-lg="100"
                fxFlex.lt-md="100"
              ></app-card-icon>
            </div>

            <mat-slide-toggle (change)="changeOrAndDescriptor()" [(ngModel)]="orAnd">OR/AND</mat-slide-toggle>

            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value, 'reason', 'contains')" placeholder="Reason">
              <mat-hint><strong>Filter by Reason field</strong></mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value, 'cost', 'eq')" placeholder="Cost">
              <mat-hint><strong>Filter by Cost field</strong></mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" (keyup)="applyFilter($event.target.value, 'date', 'eq')">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi="true" (selectedChanged)="applyFilter($event, 'date', 'eq')"></mat-datepicker>
            </mat-form-field>

          </app-card-content>
        </app-card>

         <div>
           <mat-table
             #table
             [dataSource]="dataSource"
             matSort
             matSortActive="createdAt"
             matSortDisableClear matSortDirection="desc">

             <ng-container matColumnDef="id">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>ID</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element" width="200"> <i># {{element.id}}</i> </mat-cell>
             </ng-container>

             <ng-container matColumnDef="cost">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Cost</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.cost }} <small><i>BGN</i></small></mat-cell>
             </ng-container>

             <ng-container matColumnDef="date">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Date</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.date | date: 'dd MMM, yyyy' }}</mat-cell>
             </ng-container>

             <ng-container matColumnDef="reason">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Reason</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element" class="truncate"> {{element.reason }}</mat-cell>
             </ng-container>

             <ng-container matColumnDef="createdAt">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Created At</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd MMM, yyyy'}}</mat-cell>
             </ng-container>

             <ng-container matColumnDef="updatedAt">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Updated At</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element"> <i>{{element.updatedAt | date:'dd MMM, yyyy'}}</i> </mat-cell>
             </ng-container>

             <ng-container matColumnDef="isTest">
               <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> <strong>Test Cost</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element">
                 <mat-chip-list>
                   <mat-chip [color]="element.isTest ? 'warn' : 'primary'" selected="true">{{ element.isTest ? 'Yes' :
                     'No' }}
                   </mat-chip>
                 </mat-chip-list>
               </mat-cell>
             </ng-container>

             <ng-container matColumnDef="actions">
               <mat-header-cell *matHeaderCellDef> <strong>Actions</strong> </mat-header-cell>
               <mat-cell *matCellDef="let element">
                 <button mat-mini-fab color="primary" (click)="update(element)">
                   <mat-icon>mode_edit</mat-icon>
                 </button>
                 <button mat-mini-fab color="warn" (click)="deleteCost(element)">
                   <mat-icon>delete</mat-icon>
                 </button>
               </mat-cell>
             </ng-container>

             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>

           </mat-table>
         </div>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]"></mat-paginator>

      </app-card-content>
    <!--</app-card-loader>-->
  </app-card-sidebar>

</app-page-wrapper>
