<app-card [matTooltip]="message" matTooltipPosition="above">
  <app-card-content>
    <div>
      <span class="verticle line"></span>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon style="font-size: 50px; width: 50px; height: 50px; opacity: .6;text-align: center;" fxFlex="35">{{ icon }}</mat-icon>
        <div fxFlex="65" *ngIf="value !== -1">
          <p style="font-size: 35px;opacity: .6;text-align: center;">
            {{ value }}
          </p>
        </div>
        <div fxFlex="65" fxLayoutAlign="center center" *ngIf="!value && value !== 0" style="text-align: center;">
          <mat-spinner [diameter]="50" color="warn" mode="determinate"></mat-spinner>
        </div>
      </div>
    </div>
  </app-card-content>
</app-card>
