<div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius excepturi expedita fuga minima odit
        omnis,
        quam qui sit voluptatibus! Asperiores nam pariatur quis sit tempora! Impedit neque quo vero.
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        some text
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
