<app-page-wrapper icon="dashboard" title="Dashboard">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">

    <app-card-icon
      icon="attach_money"
      message="Incomes"
      [value]="incomeSum | async"
      class="content primary "
      fxFlex="25"
      fxFlex.lt-lg="50"
      fxFlex.lt-md="100"
      (click)="openDialog()"
    ></app-card-icon>

    <app-card-icon
      icon="money_off"
      message="Cost for this month: {{ sum | async }} lv."
      [value]="sum | async"
      class="content primary"
      fxFlex="25"
      fxFlex.lt-lg="50"
      fxFlex.lt-md="100"
      (click)="openDialog()"
    ></app-card-icon>

    <app-card-icon
      icon="date_range"
      message="Days to next salary"
      [value]="daysToSalary | async"
      class="content primary "
      fxFlex="25"
      fxFlex.lt-lg="50"
      fxFlex.lt-md="100"
      (click)="openDialog()"
    ></app-card-icon>

  </div>

</app-page-wrapper>
