<app-page-wrapper icon="person" title="Profile">

  <app-card-sidebar [open]="open" (backDrop)="(open = !open)">
    <app-card-toolbar title="Profile" color="primary">
      <app-card-loader mode="indeterminate" color="primary" >
        <app-card-content>
          <app-card-actions>
            <button type="button" mat-button (click)="open = !open">
              Open sidenav
            </button>
          </app-card-actions>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
          Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
          Lorem ipsum dolor sit amet, sconsectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
          Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
          Lorem ipsum dolorsss sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
        </app-card-content>

      </app-card-loader>
    </app-card-toolbar>
  </app-card-sidebar>

  <!--<app-card-sidebar [open]="open" (backDrop)="(open = !open)">-->
  <!--<app-card-toolbar title="SOS" color="primary">-->
  <!--<app-card-loader mode="query">-->
  <!--<app-card-actions>-->
  <!--<button mat-raised-button color="primary" (click)="open = !open">Open</button>-->
  <!--</app-card-actions>-->
  <!--<app-card-content>SOS Content</app-card-content>-->
  <!--</app-card-loader>-->
  <!--</app-card-toolbar>-->
  <!--</app-card-sidebar>-->
</app-page-wrapper>
