
<!--<app-card-sidebar [open]="open" (backDrop)="(open = !open)">
  <app-card-toolbar title="Profile" color="primary">
    <app-card-loader mode="indeterminate" color="primary" >
      &lt;!&ndash;<app-card-content>
        <app-card-actions>
          <button type="button" mat-button (click)="open = !open">
            Open sidenav
          </button>
        </app-card-actions>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
        Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
        Lorem ipsum dolor sit amet, sconsectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
        Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
        Lorem ipsum dolorsss sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
      </app-card-content>&ndash;&gt;
      <mat-tab-group>
        <mat-tab label="Tab 1">
          <app-card-content>
            <app-card-actions>
              <button type="button" mat-button (click)="open = !open">
                Open sidenav
              </button>
            </app-card-actions>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
            Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
            Lorem ipsum dolor sit amet, sconsectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
            Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
            Lorem ipsum dolorsss sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?

            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                  <mat-panel-description>
                    Type your name and age
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius excepturi expedita fuga minima odit
                  omnis,
                  quam qui sit voluptatibus! Asperiores nam pariatur quis sit tempora! Impedit neque quo vero.
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                  <mat-panel-description>
                    Type your name and age
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                  some text
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
            Adipisci, consectetur consequuntur eius et fugit harum hic mollitia nemo quidem, rem reprehenderit, repudiandae!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi eaque eveniet, magni maiores odio?
          </app-card-content>
        </mat-tab>
        <mat-tab label="Tab 2">Content 2</mat-tab>
      </mat-tab-group>
    </app-card-loader>
  </app-card-toolbar>
</app-card-sidebar>-->

<app-card-sidebar [open]="open" (backDrop)="(open = !open)">
  <app-card-toolbar title="SOS" color="primary">
    <app-card-loader mode="query">
      <app-card-actions>
        <button mat-raised-button color="primary" (click)="open = !open">Open</button>
      </app-card-actions>
      <app-card-content>SOS Content</app-card-content>
    </app-card-loader>
  </app-card-toolbar>
</app-card-sidebar>

